@using Microsoft.AspNetCore.Http
@using Uplift.Utility
@inject IHttpContextAccessor HttpContextAccessor
@using Uplift.Extensions

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding: 5px 0;">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Uplift</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if(User.IsInRole(SD.Manager) || User.IsInRole(SD.Admin)){
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropDown" role="button" 
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="False" >Content Management</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Frequency" asp-action="Index">Frequency</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Service" asp-action="Index">Service</a>
                                @if(User.IsInRole(SD.Admin)){
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">User</a>
                                }
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Order" asp-action="Index">Order</a>
                            </div>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    @if(HttpContextAccessor.HttpContext.Session.GetObject<List<int>>(SD.SessionCart) != null){
                        <li class="text-white">
                            <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="nav-link text-white">
                                @{
                                    var count = HttpContextAccessor.HttpContext.Session.GetObject<List<int>>(SD.SessionCart).Count;
                                }
                                <i class="fas fa-shopping-cart"></i>&nbsp; (@count)
                            </a>
                        </li>
                    }else{
                        <li class="text-white">
                            <a href="#" class="nav-link text-white">
                                <i class="fas fa-shopping-cart"></i>&nbsp; (0)
                            </a>
                        </li>
                    }

                </ul>
                <partial name="_LoginPartial" />
                @*<form class="d-flex">
                            <input class="form-control me-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>*@
            </div>
        </div>
    </nav>
</header>



@section Scripts
{
    
}
